.add-to-card-form {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  background-color: #ffffff;

  &__fieldset {
    margin: 0 0 30px;
    padding: 0;

    border: none;
  }

  &__legend {
    margin-bottom: 30px;

    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    box-sizing: border-box;
    width: 82px;
    height: 52px;

    font-weight: 700;
    font-size: 17px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 2px solid rgba(68, 68, 68, 0.1);
    cursor: pointer;

    transition: border-color 0.3s;

    &:hover,
    &:focus {
      border-color: rgba(68, 68, 68, 0.3);
    }

    &:active {
      border-color: rgb(98, 209, 186);
    }
  }

  &__radio:checked + .add-to-card-form__label {
    border-color: rgb(98, 209, 186);
  }
}
