.banner {
  min-height: 280px;
  background-color: #f9f9f9;
  text-align: center;
  padding: 70px 30px;
  box-sizing: border-box;

  &__title {
    color: #010000;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
  }
}
