.benefits {
  padding: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  &__title {
    margin: 0 0 30px;

    font-size: 25px;
    line-height: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include list-reset;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;

    &:last-child {
      margin: 0;
    }

    & svg {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
    }

    & path {
      fill: #63d1bb;
    }
  }
}
