.benefits {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &__title {
    font-size: 25px;
    line-height: 30px;
    margin: 30px;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 30px;

    &::before {
      width: 40px;
      height: 40px;
      content: "";
      background-color: #63d1bb;
      background-image: url(http://placehold.it/40x40);
      background-repeat: no-repeat;
      margin-bottom: 20px;

    }

    &--green-technology {}

    &--scandy-style {}

    &--social-likes {}

    &--handmade {}

    &--local-manufacturer {}

    &--gift-package {}
  }
}
