.categories {
  &__list {
    display: flex;
    flex-direction: column;

    @include list-reset;
  }

  &__item {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: rgb(255, 255, 255);

    background-color: rgb(99, 209, 187);

    &:nth-child(2n-1) {
      .categories__link {
        background-color: rgb(99, 209, 187);

        &:hover,
        &:focus,
        &:active {
          background-color: rgb(89, 213, 188);
        }
      }
    }

    &:nth-child(2n) {
      .categories__link {
        background-color: rgb(86, 195, 178);

        &:hover,
        &:focus,
        &:active {
          background-color: rgb(70, 193, 174);
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-height: 100px;
    padding: 20px 30px;

    color: inherit;
    text-decoration: none;

    transition: color 0.3s, background-color 0.3s;

    & svg {
      flex: none;
      order: 1;
      width: 60px;
      height: 60px;
      margin-left: 30px;
    }

    & path {
      fill: rgba(20, 144, 128, 0.5);
    }

    &:hover,
    &:focus {
      & path {
        fill: rgba(20, 144, 128, 0.7);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      & path {
        fill: rgba(20, 144, 128, 0.3);
      }
    }
  }
}
