.categories {
  &__list {
    display: flex;
    flex-direction: column;
    @include list-reset;
  }

  &__item {

    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;

    &--interior {
      .categories__link {
        background-color: #63d1bb;

        &:hover,
        &:focus,
        &:active {
          background-color: #59d5bc;
        }
      }
    }

    &--toys {
      .categories__link {
        background-color: #56c3b2;

        &:hover,
        &:focus,
        &:active {
          background-color: #46c1ae;
        }
      }
    }
  }

  &__link {
    @include link;
    display: flex;
    align-items: center;
    padding: 20px 140px 20px 30px;
    min-height: 100px;
    background-color: #63d1bb;
    box-sizing: border-box;
    transition: color 0.3s, background-color 0.3s;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      background-color: #59d5bc;
    }

    &:active {
      opacity: 1;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
