.contacts {
  color: rgb(68, 68, 68);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding: 30px;

  &__title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px;
  }

  &__list {
    @include list-reset;
    margin: 0 0 30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item-title {
    width: 35%;
    margin: 0 0 30px;

    &::after {
      content: ":";
    }

    &:last-child {
      margin: 0;
    }
  }

  &__item-val {
    width: 65%;
    margin: 0 0 30px;

    &:last-child {
      margin: 0;
    }
  }

  &__email {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;
  }

  &__address {
    font-style: normal;
  }

  &__map {
    margin: 0 -30px 30px;
  }

  &__feedback-btn {}
}
