.contacts {
  display: flex;
  flex-direction: column;
  padding: 30px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: rgb(68, 68, 68);

  &__title {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;

    @include list-reset;
  }

  &__item-title {
    width: 30%;
    margin: 0 0 30px;

    &::after {
      content: ":";
    }

    &:last-child {
      margin: 0;
    }
  }

  &__item-val {
    width: 70%;
    margin: 0 0 30px;

    &:last-child {
      margin: 0;
    }
  }

  &__email {
    color: rgb(68, 68, 68);
    text-decoration: none;

    border-bottom: 1px solid #62d1ba;

    transition: color 0.3s, opacity 0.3s;

    &:hover,
    &:focus {
      color: rgb(70, 193, 174);
    }

    &:active {
      color: rgb(70, 193, 174);

      opacity: 0.3;
    }
  }

  &__address {
    font-style: normal;
  }

  &__map {
    margin: 0 -30px 30px;
  }
}
