.creation-card {
  display: flex;
  flex-direction: column;
  color: rgb(68, 68, 68);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid rgb(236, 236, 236);
  background-color: rgb(255, 255, 255);
  margin: 0;

  &__title {
    order: -2;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 700;
    margin: 30px;
    padding-left: 60px;
  }

  &__descr {
    margin: 0 30px 30px;
  }

  &__video {
    order: -1;
    margin: 0 0 30px;
    min-height: 150px;
    background-color: #f1f1f1;
    background-image: url(../img/video-mobile@1x.jpg);
    background-repeat: no-repeat;
  }

  &__buy-link {
    margin: 0 30px 30px;
    min-width: auto;
  }
}
