.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  &__top-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
  &__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--hidden {
      display: none;
}
    &--js--true {
      position: absolute;
      top: 80px;
      left: 0;
}
}
  &__add-container {
    display: none;
}
  &__menu-toggle {
    display: none;
    &--js--true {
      position: absolute;
      top: 25px;
      right: 25px;

      display: block;
}
}
}
