.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;

  &__top-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  }

  &__logo {}

  &__menu-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  &__main-container {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  &__main-container--hidden {
    display: none;
  }

  &__main-menu {}

  &__search {}

  &__cart {}

  &__add-container {
    display: none;
  }

  &__add-menu {}

  &__delivery {}
}
