.modal {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  padding: 29px;

  &__title {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
    text-align: center;
  }

  &__content {
    margin: 0;
  }

}
