.product-card {
  display: flex;
  flex-direction: column;
  padding: 30px;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: rgb(68, 68, 68);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);

  &__title {
    margin: 0 0 10px;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: rgb(0, 0, 0);
  }

  &__link {
    @include link;
  }

  &__tag {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgb(99, 209, 187);
    text-transform: uppercase;
  }

  &__img {
    order: -1;
    align-self: center;
    width: calc(100% + 60px);
    height: 60.94vw;
    margin: -30px -30px 20px -30px;

    background-color: #e4e4e6;
  }

  &__prop-list {
    display: flex;
    flex-wrap: wrap;
    @include list-reset;
    margin: 0 0 20px;
  }

  &__prop-title {
    &::after {
      content: " ";

      display: inline-block;
      width: 7px;
    }
  }

  &__prop-val {
    margin: 0;

    &:not(:last-child) {
      &::after {
        content: ",";

        display: inline-block;
        width: 7px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 20px;

    border-top: 1px solid rgb(236, 236, 236);
  }

  &__price {
    margin: 0;

    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgb(0, 0, 0);
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  &--best-deal {
    padding: 30px;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgb(68, 68, 68);

    border: none;

    & .product-card__title {
      order: -5;

      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: rgb(0, 0, 0);
    }

    & .product-card__title {
      margin: 0 0 10px;
    }

    & .product-card__tag {
      order: -4;
      margin: 0 0 20px;
    }

    & .product-card__img {
      height: 98.44vw;
      margin: 0 0 20px;
    }

    & .product-card__descr {
      order: -3;
      margin: 0 0 20px;
    }

    & .product-card__prop-list {
      order: -2;
      margin: 0 0 20px;

      font-size: 15px;
      line-height: 20px;
    }

    & .product-card__prop-title {
      width: 35%;
      padding: 5px 0 7px;

      border-bottom: 1px solid #ececec;

      &::after {
        content: ":";

        display: inline-block;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }

    & .product-card__prop-val {
      width: 65%;
      padding: 5px 0 7px;

      border-bottom: 1px solid #ececec;

      &:not(:last-child) {
        &::after {
          content: "";

          display: none;
          width: 0;
        }
      }
    }

    & .product-card__price {
      align-self: center;
      margin: 0 0 20px;

      font-weight: 700;
      font-size: 17px;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}
