.reviews {
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__title {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 30px;
  }

  &__list {
    @include list-reset;

  }

  &__item {
    margin: 0 0 30px;
  }

  &__controls {
    display: flex;
    margin: 0 0 30px;
  }

  &__control-btn {
    min-width: 50%;

    &:nth-child(2) {
      border-left: none;
    }
  }

  &__create-new-btn {}
}
