.review {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  &__author-name {
    margin: 0;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }

  &__author-nick-name {
    margin: 0;

    font-size: 17px;
  }

  &__content {
    order: -1;
    margin: 0 0 20px;
  }
}
