.reviews {
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__title {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: rgb(0, 0, 0);
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include list-reset;
  }

  &__item {
    margin: -30px -30px 0;
  }

  &__controls {
    display: flex;
    margin: 0 0 30px;
  }

  &__control-btn {
    min-width: 50%;

    &:nth-child(2) {
      border-left: none;
    }
  }
}
