.site-content {
  display: flex;
  flex-direction: column;

  &__title {
    color: rgb(0, 0, 0);
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    min-height: 178px;
    background-color: #f1f1f1;

    text-align: center;
    padding: 75px 30px;
    margin: 0 0 30px;
    box-sizing: border-box;

  }

  &__products {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
  }

  &__creation-card {
    margin: 0 30px 30px;
  }

  &__categories {
    margin: 0;
  }

  &__best-deal {
    margin: 0;
  }
}
