.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80px;

  @include list-reset;

  &__item {
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}
