.social-icon {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;

    transition: opacity 0.3s;

    @include link;
  }

  & svg {
    vertical-align: middle;
  }

  & path {
    fill: #231f20;
  }

  &:hover,
  &:focus {
    & path {
      fill: rgb(70, 193, 174);
    }
  }

  &:active {
    opacity: 0.3;

    & path {
      fill: rgb(70, 193, 174);
    }
  }
}
