.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  @include list-reset;


  &__item {
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}
