html {
  margin: 0;

  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "Open Sans", "Arial", sans-serif;
}
