html {
  margin: 0;

  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "OpenSans", "Arial", sans-serif;

}
