  @mixin link {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @mixin mob-menu-item {
    min-height: 80px;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    background-color: #ffffff;

    a {
      padding: 28px 40px 28px 76px;
      display: block;
      @include link;
    }
  }
